.menu-area {
	float: right;
}

@media($media-md-up) {
	.menu-area {
		position: absolute;
		margin: 60px;
		top: 0;
		right: 0;
	}

}

.menu-toggle {
	height: 50px;
	width: 50px;
	float: right;
	border: none;
	background:$white;

	&:after {
		content: url($ico1);
		position: relative;
		top: 2px;
	}

	cursor: pointer;
}

.featured-menu-item {
	float: left;
    padding: 12px 50px;
    &:after{
    	content: '2';
    	background:$emphasis;
    	border-radius:50px;
    	height: 25px;
    	width: 25px;
    	padding: 11.7px;
    	text-indent: -4px;
    	font-size: 13.2px;
    	bottom: 24px;
    	left: 116px;
    	line-height: 0px;
    	position: relative;
    	display: block;
    	margin-left: 10px;
    	animation-name: heartFadeInOut;
    	animation-iteration-count: infinite;
		animation-duration: 1.5s; 
    }
}

.textlogo {
	width: 130px;
	display: inline-block;
	padding-bottom: 1px;
	border-bottom: 3px solid #fff;
}

@media($media-sm-up) {
	.textlogo {
		width: auto;
	}
}
@media($media-md-up) {
	.textlogo {
	padding-bottom: 6.5px;
	border-bottom:none;
	position:relative;
	
	&:before{
		content: "";
		position: absolute;
		width: 325px;
		height: 1px;
		bottom: -2px;
		left: 4px;
		border-bottom: 2px solid #fff;
	}
}
}
