

p{
font-family: Montserrat-Regular;
font-size: 13px;
color: #000000;
letter-spacing: 0;
line-height: 30px;	
}

/* HERO Title */
.hero-title,
.type-logo,
p{
font-family: Montserrat-SemiBold;
}


font-size: 50px;

$white: #fff;
color: $white;

letter-spacing: 8px;

line-height: 70px;

text-shadow: 0 0 30px rgba(0,0,0,0.50);




// default text



font-size: 24px;
color: #FFFFFF;
letter-spacing: 3.84px;
line-height: 70px;
text-shadow: 0 0 30px rgba(0,0,0,0.50);